<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
    <body>
        <form method="POST" action="/team">
            <p>Team Name<input type="text" id="name" name="name" required>
            <p>Coach<input type="text" id="coach" name="coach" required></p>
            <p>Point Guard<input type="text" id="pg" name="pg" required></p>
            <p>Shooting Guard<input type="text" id="sg" name="sg" required></p>
            <p>Power Forward<input type="text" id="pf" name="pf" required></p>
            <p>Small Forward<input type="text" id="sf" name="sf" required></p>
            <p>Center<input type="text" id="c" name="c" required></p>
            <input type="submit" id="submit" value="Submit">
        </form>
    </body>
</html>


